


<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#personModal">
    ...add a contact
</button>


<div class="modal fade" id="personModal" tabindex="-1" aria-labelledby="personModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Add New Contact</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                
                <form id="addNewContactForm">
                    <div class="mb-3">
                        <label for="firstName" class="form-label">First Name</label>
                        <input id="firstName" type="text" minlength="1" maxlength="50" 
                            class="form-control" name="First Name" required />
                    </div>
                    <div class="mb-3">
                        <label for="lastName" class="form-label">Last Name</label>
                        <input id="lastName" type="text" minlength="1" maxlength="50" 
                            class="form-control" name="Last Name" required />
                    </div>

                    <button type="button" onclick="addPhoneNumber()">Add Phone Number</button>
                    <div id="phoneNumbersContainer" class="mb-3">
                        <label class="form-label">Phone Numbers:</label>
                        <div>
                            <input type="tel" class="form-control phone-number-input" 
                                name="PhoneNumber" pattern="[0-9]{3}/[0-9]{3}-[0-9]{3}" 
                                maxlength="11" placeholder="xxx/xxx-xxx" required />
                        </div>
                    </div>

                    <button type="button" onclick="addEmailAddress()">Add Email Address</button>
                    <div id="emailAddressesContainer" class="mb-3">
                        <label class="form-label">Email Addresses:</label>
                        <div>
                            <input type="email" class="form-control email-address-input"
                                   name="Email" maxlength="50" placeholder="aaa@bbb.ccc" required />
                        </div>
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Sex</label>
                        <br />
                        <label class="form-label" for="sexMale">Male: </label>
                        <input id="sexMale" type="radio" name="sexGender" value="Male"/>
                        <br />
                        <label class="form-label" for="sexFemale">Female: </label>
                        <input id="sexFemale" type="radio" name="sexGender" value="Female" />
                    </div>
                    <div class="mb-3">
                        <label for="stateDropdown" class="form-label">State: </label>
                        <select id="stateDropdown" class="form-select" name="State">
                            
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="cityDropdown" class="form-label">City: </label>
                        <select id="cityDropdown" class="form-select" name="City">

                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="birthday" class="form-label">Birthday: </label>
                        <input id="birthday" type="date" class="form-control" name="Birthday" />
                    </div>

                    <div class="mb-3">
                        <label for="age" class="form-label">Age: </label>
                        <input id="age" type="text" class="form-control" name="Age" readonly />
                    </div>
                </form>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="addNewPerson">Save changes</button>
            </div>
        </div>
    </div>
</div>